*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

ul,
ul li a {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-family: var(--font-body);
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

fieldset {
  border: none;
  text-align: center;
}

fieldset input {
  background-color: var(--color-gray);
}

fieldset input:not([type="checkbox"]) {
  border: none;
  width: 100%;
  padding: 0.8em 1em;
  border-radius: 0.5em;
  margin: 0.5em 0;
}

fieldset.checkbox {
  padding: 1em;
}

/* RESET */

/* VARIABLES */
:root {
  --color-white: #fcfcfc;
  --color-white1: linear-gradient(to top, #e7e7e7 0%, #cdefff 100%);
  --color-black: #1c1c1c;
  --color-gray: #e9e9e9c0;
  --color-green: #7bff6d;
  --color-red: #ff8383;
  --font-title: Anton, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-body: Poppins, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-body2: Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
/* VARIABLES */

/* Utilities */

.text-center {
  text-align: center;
}

.card {
  background-color: var(--color-white);
  position: relative;
  box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.74);
}

/* Utilities */

body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 2em 0 0;
  height: 100vh;
}

.library {
  width: 800px;
  margin-inline: auto;
}

.library.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.library.header .header__title {
  display: flex;
  gap: 0.5em;
}

.library.header .header__title h1,
.library.header .header__title p {
  font-family: var(--font-title);
}

.library.header .header__title p {
  font-size: 0.8em;
}

.library.header .header__login {
  background: none;
  border: 1px solid var(--color-black);
  height: 2.5em;
  padding: 0 2em;
  border-radius: 2em;
  color: var(--color-black);
  transition: all ease-in-out 200ms;
  font-weight: bold;
  cursor: pointer;
}

.library.header .header__login:hover {
  background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  color: var(--color-white);
}

.library.footer {
  text-align: center;
  font-family: var(--font-body);
}

.library.footer a,
.library.footer a:visited,
.library.footer a:active {
  text-decoration: none;
  color: var(--color-black);
}

.library.main.card {
  padding: 3em;
  height: 80vh;
  margin: 2em auto;
  border-radius: 50px;
  overflow-y: auto;
}

.library.main .main__container {
  position: relative;
  height: 100%;
}

.library.main .main__container .main__footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.library.main .main__container .main__footer button {
  color: var(--color-white);
  background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  border: none;
  font-size: 1.5em;
  padding: 0.3em 0.5em;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.74);
  transition: all ease-in-out 200ms;
}

.library.main .main__container .main__footer button:hover {
  background: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  color: var(--color-black);
}

.library.main .main__container .main__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  transition: all ease-in-out 300ms;
  padding: 1em 0;
}

.library.main .main__container .main__content__dialog h1 {
  margin-bottom: 0.5em;
}

.library.main .main__container .main__content__dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  border: none;
  border-radius: 1.5em;
  padding: 2em;
  opacity: 0;
  transition: opacity 300ms ease-in;
  z-index: 9999;
}

::backdrop {
  background-color: var(--color-black);
}

dialog.show {
  animation: fadein 200ms ease-in forwards;
}

dialog.show::backdrop {
  animation: fadein-backdrop 200ms ease-in forwards;
}

dialog.hide {
  animation: fadeout 200ms ease-in forwards;
}

dialog.hide::backdrop {
  animation: fadeout-backdrop 200ms ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein-backdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout-backdrop {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

.dialog__btn {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.dialog__btn__save,
.dialog__btn__cancel {
  background: var(--color-gray);
  border: none;
  border-radius: 0.5em;
  width: calc(100% / 2);
  padding: 0.5em;
  font-weight: bold;
  transition: opacity ease-in-out 100ms;
}

.dialog__btn button:hover,
.main__content__card .card__btn button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.dialog__btn__save,
.main__content__card .card__btn button:first-child {
  background-color: var(--color-green);
}

.main__content__card {
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
  padding: 1em;
  height: 250px;
  max-height: 250px;
  gap: 2em;
  border-radius: 0.5em;
  background: var(--color-white1);
  box-shadow: 0px 5px 30px -25px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 0px 5px 30px -25px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 5px 30px -25px rgba(0, 0, 0, 0.74);
}

.main__content__card .card__text {
  overflow-wrap: break-word;
  word-break: break-word;
}

.main__content__card .card__text p span {
  font-weight: bold;
}

.main__content__card .card__btn {
  display: flex;
  flex-flow: nowrap column;
  gap: 0.5em;
}

.main__content__card .card__btn button {
  background: var(--color-red);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
}
